.App {
  text-align: left;
  color: white;
  height:100%;
  width:100%;
  font-size: 14;
  font-weight: 400;
}

.UserName{
  color: #F5F5F5;
  display: flex;
  align-items: center;
}

.SelectedItem{
  color: #F5F5F5;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background-color: #9E9E9E;*/
}

.ItemText{
  margin-left: 0.2em;
}

.RightScreen {
  height:100%;
  margin-left: 175px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
}

.Sidebar{
  height:100%;
  width:175px;
  background-color:#222323;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  /*box-shadow: 1px 0px 10px #112121;*/
}

.SidebarContent{
  height:100%;
  width:100px;
  padding-left: 1em;

}

.Header {
  /*bad */
  font-weight: 500;
  color: #F5F5F5;
  /*font-weight: bold;*/
  /*background-color:#313131;*/
  padding: 1em;
  padding-top: 0.3em;
  padding-left: 2em;
  height: 25px;
}
.Content {
  padding: 1em;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.CodeBoxParent {

 flex-grow: 1;
 width: 100%;
 display: flex;
  flex-direction: column;
  overflow: scroll;

}

.CodeBox{
  flex-grow: 1;
  margin: 1em;
  /*background-color: #313131;*/
  border-radius: 5px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  /*for text*/
  /*white-space: pre-wrap;*/

}

.ExamplesParent{
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.Examples{
  flex-grow: 1;
  margin: 1em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  white-space: pre-wrap;
}

.SaveButton{
  font-weight: bold;
  background: rgba(77,208,225, 0.8);
  width: 40px;
  height: 20px;
  z-index: 1;
  padding: 1em;
  bottom: 30px;
  right: 50px;
  position:fixed!important;
  border-radius: 10px;
}

.SaveButton:hover {
  background: rgba(77,208,225);
}

[contenteditable] {
  outline: 0px solid transparent;
}


.Function{
  color: #55ff00;
}
.Parameter{
color: #ffaa00;
}
.Bracket{
  color: red;
}
.FunctionCall{
  color: #00ffdd;
}

.Comment{
  color: #878e8d;
}


.Operation{
  color: #ec39b4;
}

.Index{
 color: #a959ff;
}
