.App {
  text-align: left;
  color: white;
  height:100%;
  width:100%;
  font-size: 14;
  font-weight: 400;
}

.UserName{
  color: #F5F5F5;
  display: flex;
  align-items: center;
}

.ItemLine{
  display: flex;
  flex-direction: row;
  align-items:  center;
  justify-content: space-between;
}

.SelectedItem{
  color: #F5F5F5;
  font-weight: bold;
  /*background-color: #9E9E9E;*/
}

.More{
  margin-right: 1em;
  opacity: 0.7;
  cursor: pointer;
}

.More:hover{
  opacity: 1;
}

.Item{
  margin-bottom: 1em;
  margin-top: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
}

.ItemText{
  margin-left: 0.2em;
}



.Sidebar{
  height:100%;
  /*display: flex;*/
  width:175px;
  background-color:#222323;
  position:fixed!important;
  z-index:0;
  overflow:auto;
  /*box-shadow: 1px 0px 10px #112121;*/
}

.SidebarContent{
  flex:1;
  margin-left: 1em;

}

.Header {
  /*bad */
  font-weight: 500;
  color: #F5F5F5;
  /*font-weight: bold;*/
  /*background-color:#313131;*/
  padding: 1em;
  padding-top: 0.3em;
  padding-left: 2em;
  height: 25px;
}

.RightScreen {
  /*height:100%;*/
  margin-left: 175px;
  display: flex;
  flex-direction: column;
}

.Content {
  background-color: #212121;
  margin-left: 175px;

  height:100%;
  /*padding: 1em;*/
  /*justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;*/
  overflow: scroll;
}

.Line{
  /*width: 100%;*/
  border: 1px solid rgba(255,255,255,.10);
}

.CasesBoxParent {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.CasesBox {
  margin: 1em;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CasesBox .Json {
  white-space: pre-wrap;
  flex: 1;
}

.Button{
  font-weight: bold;
  background: rgba(77,208,225, 0.8);
  /*width: 80%;*/
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  border-radius: 10px;
  font-size: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: white;
}

.Button:hover{
  background: rgba(77,208,225);
}

.CasesBox .Button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  font-size: 12;
}


.CodeBox{
  /*flex-grow: 1;*/

 /*width: 100%;*/

  /*background-color: #313131;*/
  border-radius: 5px;
  margin: 1em;
  /*padding-left: 2em;
  padding-right: 2em;*/
  /*for text*/
  white-space: pre-wrap;

}

.Reload{
  padding: 1px;
  border-bottom: 3px solid #0D47A1;
  cursor: pointer;
}

.Examples{
  /*width: 100%;*/
  margin: 1em;
  /*padding: 1em;
  padding-left: 2em;
  padding-right: 2em;*/
  white-space: pre-wrap;
}

.SaveButton{
  font-weight: bold;
  background: rgba(77,208,225, 0.8);
  width: 40px;
  height: 20px;
  z-index: 1;
  padding: 1em;
  bottom: 30px;
  right: 50px;
  position:fixed!important;
  border-radius: 10px;
}

.SaveButton:hover {
  background: rgba(77,208,225);
}

[contenteditable] {
  outline: 0px solid transparent;
}


.Function{
  color: #55ff00;
}
.Parameter{
color: #ffaa00;
}
.Bracket{
  color: red;
}
.FunctionCall{
  color: #00ffdd;
}

.Comment{
  color: #878e8d;
}


.Operation{
  color: #ec39b4;
}

.Index{
 color: #a959ff;
}

.InfoResult {
  color: #B0BEC5;
}

.Result {

    font-style: italic;
    color: #4FC3F7;
    cursor: pointer;
}

.Input{
 -webkit-appearance: none;
 border: none;
 border-bottom: 1px solid black;
 margin: 1em;
}

.Input:focus{
  outline: none;
}


/*Modal*/
.Modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddFile .Input{
  width: 75px;
}
.AddFile{
  width: 200px;
  padding: 1em;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.AddFile .Button {
  width: 50px;
  /*height: 100px;*/
}



