.Login {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	height: 100%;
	flex-direction: column;
	font-family: 'Inter', sans-serif;
}

.HeaderSpace{
	height: 6em;
}

.Header{
	width: 100%;
	top:0px;
	left: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.4em;
}
.HeaderTitle{
width: 5em;
margin-left: 1.5em;
text-align: center;
font-size: x-large;
}

.MainPart{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.SubTitle{
width: 25em;
text-align: center;
font-size: xx-large;
font-weight: bold;
}
.SubTitleParent{

}


.LoginPart{
	width: 60%;
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.Features {
	display: flex;
	flex-direction: row;
	margin-top: 3em;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 1em;
}

.Feature {
	/*margin-right: 1em;
	margin-left: 1em;*/
	width: 25em;	
	text-align: center;
}
.ActualFeatureTitle{
	border-bottom: 2px solid blue;

}
.FeatureTitle{
	font-size: large;
	text-align: center;
	margin-bottom: 1em;
}


.Button{
  /*font-weight: bold;*/
  color: white;
  background: rgba(55,85,190, 0.9);
  height: 20px;
  padding: 1em;
  border-radius: 10px;
}

.Button:hover {
  background: rgba(55,85,190, 1);
}


